body {
    margin: 0;
    padding: 0;
}

.main-container {
    margin: auto;
    width: 70%;
}

.MuiFormControl-root {
    margin-bottom: 0 !important;
}


.MuiOutlinedInput-root {
    border-radius: 7px 7px 0 7px;
}

.MuiModal-backdrop {
    background-color: rgb(104 104 104 / 50%) !important;
}

@media (max-width: 576px) {
    .main-container {
        width: 95%;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .main-container {
        width: 90%;
    }
}